<h2 mat-dialog-title>Informe o código</h2>
<mat-dialog-content>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="otp-container">
      <ng-container formArrayName="digits">
        <input
          *ngFor="let digit of digits.controls; let i = index"
          [formControlName]="i"
          #input
          type="text"
          class="otp-input"
          maxlength="1"
          (input)="onInput(i, $event)"
          (keydown)="onKeyDown(i, $event)"
          (paste)="onPaste($event)"
        />
      </ng-container>
    </div>

    <div class="error-container" *ngIf="hasError() && !tempoExpirado || erroBackend && !tempoExpirado || erro && !tempoExpirado">
       <mat-error>{{erro ? "Código incorreto" : "Código inválido" }}</mat-error>
    </div>
<div class="contador" *ngIf="!tempoExpirado">
  Código expira em: {{ contadorFormatado }}
</div>

<div class="contador-expirado" *ngIf="tempoExpirado">
  Código expirado
</div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancelar</button>

  <!-- VALIDAR -->
  <button
    *ngIf="!tempoExpirado"
    mat-raised-button
    color="primary"
    (click)="submit()"
    [disabled]="form.invalid"
  >
    Validar código
  </button>

  <!-- REENVIAR -->
  <button
    *ngIf="tempoExpirado"
    mat-raised-button
    color="warn"
    (click)="reenviarCodigo()"
  >
    Reenviar código
  </button>
</mat-dialog-actions>
